*{
  padding: 0;
  margin: 0;
}
/* 样式 */
body {
  color: var(--vigor-c-white);
  background-color: var(--vigor-c-lynx-white);
}

a {
  color: var(--vigor-c-moon-black);
  text-decoration: none;
}

a:hover {
  color: var(--vigor-c-light-black);
}
