
:root {
  /* 基础颜色 */
  --vigor-c-white: #ffffff;
  --vigor-c-lynx-white: #f5f6fa;

  --vigor-c-flower-red: #e84118;
  --vigor-c-flower-deep-red: #c23616;

  --vigor-c-light-blue: #00a8ff;
  --vigor-c-blue: #0097e6;

  --vigor-c-light-purple: #9c88ff;
  --vigor-c-purple: #8c7ae6;

  --vigor-c-light-yellow: #fbc531;
  --vigor-c-deep-yellow: #e1b12c;

  --vigor-c-azure: #5FFBF1;
  --vigor-c-deep-azure: #19CFC4;
  --vigor-c-azure-light: #35CFC6;
  --vigor-c-light-green: #4cd137;
  --vigor-c-deep-green: #44bd32;

  --vigor-c-grey-blue: #487eb0;
  --vigor-c-grey-deep-blue: #40739e;

  --vigor-c-light-grey: #dcdde1;
  --vigor-c-grey: #7f8fa6;
  --vigor-c-deep-grey: #718093;

  --vigor-c-mazaline-blue: #273c75;
  --vigor-c-pico-void-blue: #192a56;

  --vigor-c-light-black: #353b48;
  --vigor-c-grey-black: #2f3640;
  --vigor-c-moon-black: #1e272e;
  --vigor-c-black: #0a0a0a;

  --vigor-c-divider-light-1: rgba(60, 60, 60, 0.12);

  --vigor-c-progress-black-white: linear-gradient(to right top, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
 
}
:root {
  --vigor-font-family: Arial, sans-serif;
}

/* 主题配色 */
:root {
  /* 下划线 */
  --vigor-c-divider-light: var(--vigor-c-divider-light-1);

  /* 文本 */
  --vigor-c-text-main: var(--vigor-c-moon-black);

  /* 背景颜色 */
  --vigor-c-bg-main: var(--vigor-c-lynx-white);

   /* 按钮brand主题配色 */
   --vigor-bg-brand: var(--vigor-c-purple);
   --vigor-bg-alt: var(--vigor-c-deep-grey);
   --vigor-bg-brand-light: var(--vigor-c-azure-light);
   --vigor-text-brand: var(--vigor-c-azure);
   /* 按钮alt主题配色 */
   --vigor-c-alt: var(--vigor-c-deep-grey);
 
   /* 标题配色 */
   --vigor-c-title: var(--vigor-c-progress-black-white);
}