.link:hover {
  color: var(--vigor-link-onfocus);
  transition: color 0.2s;
}

.link {
  display: block;
  font-size: 14px;
  font-weight: 500;
}

.social-link-icon {
  display: flex;
  fill: currentColor;
  transition: color 0.2s;
  color: var(--vigor-c-light-black);
  &:hover {
    color: var(--vigor-c-black);
  }
}

.bg-color {
  background-color: var(--vigor-c-bg-main);
}
