.link:hover {
  color: var(--vigor-link-onfocus);
  transition: color 0.2s;
}

.link {
  display: block;
  font-size: 14px;
  font-weight: 500;
}

.social-link-icon {
  display: flex;
  fill: currentColor;
  transition: color 0.2s;
  color: var(--vigor-c-light-black);
  &:hover {
    color: var(--vigor-c-black);
  }
}
.bg-color {
  -webkit-backdrop-filter: saturate(50%) blur(8px);
  backdrop-filter: saturate(50%) blur(8px);
}

@supports not (backdrop-filter: saturate(50%) blur(8px)) {
  .bg-color {
    background: rgba(255, 255, 255, 0.95);
  }
}

