.vigor-doc h1,
.vigor-doc h2,
.vigor-doc h3,
.vigor-doc h4,
.vigor-doc h5,
.vigor-doc h6 {
  position: relative;
  font-weight: 600;
  outline: none;
}

.vigor-doc h1 {
  letter-spacing: -0.02em;
  line-height: 40px;
  font-size: 30px;
  margin-bottom: 40px;
  color: var(--vigor-c-h1-text);
}

.vigor-doc h2 {
  margin: 48px 0 16px;
  /* padding-top: 24px; */
  letter-spacing: -0.02em;
  line-height: 32px;
  font-size: 24px;
}

.vigor-doc h3 {
  margin: 32px 0 0;
  letter-spacing: -0.01em;
  line-height: 28px;
  font-size: 20px;
}


.toc-container {
  position: sticky;
  top: 10vh;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  scrollbar-width: none;
}

.vigor-doc .header-anchor {
  float: left;
  margin-left: -0.87em;
  padding-right: 0.23em;
  font-weight: 500;
  opacity: 1;
  transition: color 0.25s, opacity 0.25s;
}

.vigor-doc h1 a,
.vigor-doc h2 a,
.vigor-doc h3 a,
.vigor-doc h4 a,
.vigor-doc h5 a,
.vigor-doc h6 a
{
  text-indent: -9999em;  
  overflow: hidden;
  float: left;
}

// /* 设置段落样式 */
.vigor-doc p {
  margin: 0 0 16px;
  padding: 0;
}


/* 设置代码块样式 */
.vigor-doc pre {
  margin: 0 0 16px;
  padding: 16px;
  background-color: #f8f8f8;
  border: 1px solid #ccc;
  border-radius: 10px;
  font-size: 14px;
  line-height: 1.4;
  overflow: auto;
}

.vigor-doc p code {
  font-family: Consolas, Monaco, "Andale Mono", "Ubuntu Mono", monospace;
  font-size: 0.9em;
  color: var(--main-color);
  background-color: var(--light-color);
  padding: 0.2em 0.4em;
  border-radius: 3px;
}

.vigor-doc pre code {
  font-family: Consolas, Monaco, 'Andale Mono', monospace;
  font-size: 14px;
}


/* 设置块引用样式 */
.vigor-doc blockquote {
  margin: 0 0 16px;
  padding: 16px;
  background-color: #f8f8f8;
  border-left: 4px solid #007bff;
  color: #666;
  font-style: italic;
}

/* 设置强调样式 */
.vigor-doc em, strong {
  font-style: italic;
}

.vigor-doc strong {
  font-weight: 600;
}

/* 设置表格样式 */
.vigor-doc table {
  border-collapse: collapse;
  width: 100%;
}

.vigor-doc th, td {
  border: 1px solid #ccc;
  padding: 8px;
  text-align: left;
  vertical-align: top;
}

.vigor-doc th {
  font-weight: 600;
  background-color: #f8f8f8;
}


/* 代码块 */
// pre {
//   background-color: var(--light-color);
//   border: 1px solid var(--main-color);
//   padding: 1em;
//   margin: 1em 0;
//   overflow: auto;
// }


.vigor-doc p code:hover {
  background-color: var(--main-color);
  color: var(--light-color);
  cursor: pointer
}


