.bg {
  background-color: var(--vigor-c-bg-soft);
  border: solid var(--vigor-c-bg-soft);
  border-radius: 10px;
}

.icon-bg {
  background-color: var(--vigor-c-icon-bg);
  border: solid var(--vigor-c-icon-bg);
}