.button {
  display: inline-block;
  border: 1px solid transparent;
  text-align: center;
  font-weight: 500;
  white-space: nowrap;
  transition: color 0.25s, border-color 0.25s, background-color 0.25s;
}

.button:active {
  transition: color 0.1s, border-color 0.1s, background-color 0.1s;
}

.button.medium {
  border-radius: 20px;
  padding: 0 20px;
  line-height: 38px;
  font-size: 14px;
}

.button.big {
  border-radius: 24px;
  padding: 0 24px;
  line-height: 46px;
  font-size: 16px;
}

.button.brand {
  background-color: var(--vigor-bg-brand);
  &:hover {
    background-color: var(--vigor-bg-brand-hover);
  }
}

.button.alt {
  background-color: var(--vigor-bg-alt);
  opacity: 70%;
  &:hover {
    background-color: var(--vigor-bg-alt-hover);
  }
}

